<nav>
  <div class="navigation">
    <% if (locals.user_in) {%>
    <div class="profile">
      <img class="profile-svg" src="/images/profile.svg" alt="" /> <%=
      user_in.username %>!
    </div>
    <h2>Welcome back <%= user_in.name %>!</h2>
    <% if (!locals.user_in.membership_status) {%>
    <a href="/join-club">Join the club</a>
    <% } %> <% if (!locals.user_in.admin&&locals.user_in.membership_status) {%>
    <a href="/become-admin">Become an admin</a>
    <% } %>
    <a href="/log-out">Log out</a>
    <% } else { %>
    <h3>Please log in to write messages and become a member of our club!</h3>
    <a href="/log-in">Log in</a>
    <p>Don't have an account?</p>
    <a href="/sign-up">Sign up</a>
    <% } %>
    <hr />
  </div>
  <div class="footer">
    <img src="/images/people.png" alt="" />
    <p>Have a question?</p>
    <p>Please contact me at karina17korchinskaya@gmail.com</p>
    <p class="copyright">Copyright &copy; Message Club 2023</p>
  </div>
</nav>
